
.bg-image {
  background-image: url(../assets/Banners/optional_banner_1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 

}

.bg-image2 {
  background-image: url(../assets/Banners/optional_banner_2.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}

.bg-image3 {
  background-image: url(../assets/Banners/optional_banner_3.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}
.bg-image4 {
  background-image: url(../assets/Banners/optional_banner_4.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}
.bg-image5 {
  background-image: url(../assets/Banners/optional_banner_5.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}
.formcontainter {
background-color: black;
padding: 12rem;
}

.cardscontainer {
  width: 100vw;
  height: 100vh;
  display: flex;

}

.card1 {
padding: 1rem;
border: solid #8e3936;
border-radius: 2%;
object-fit: contain;
}

footer {
margin-top: 16rem;
background-color: #F42019;
display: flex;
justify-content: space-around;
}
.footerpics {
  max-width: 3rem;
}

.detailsimg {
 object-fit: 20rem;
}

.navstyle a{
    color: brown;
}

.fa-instagram {
    background: #125688;
    color: white;
    height: 2em;
    width: 2em;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
    height: 2em;
    width: 2em;
  }

  .fa-vimeo {
    background: #45bbff;
    color: white;
    height: 2em;
    width: 2em;
  }