
.bg-image {
  background-image: url(../assets/Banners/optional_banner_1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 

}

.bg-image2 {
  background-image: url(../assets/Banners/optional_banner_2.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}

.bg-image3 {
  background-image: url(../assets/Banners/optional_banner_3.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}
.bg-image4 {
  background-image: url(../assets/Banners/optional_banner_4.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}
.bg-image5 {
  background-image: url(../assets/Banners/optional_banner_5.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh; 
}


.navform {
  display: flex;
}

.cardimg {
  object-fit: cover;
  height: 20vh;
  width: 90%;
}

footer {
margin-top: 2em;
background-color: #F42019;
display: flex;
justify-content: space-around;

}

.footerpics {
  max-width: 3rem;
}

.detailsimg {
 object-fit: 20rem;
}

.navstyle a{
    color: brown;
}
  .layout {
    display: flex;
  flex-direction: column;
  min-height: 100vh;

  }
  main {
    flex-grow: 1;
  }

  h1 {
    color: rgb(181, 48, 24);
    opacity: .7;
  }

.checktest {
  display: flex;
}

  @media (min-width: 320px) and (max-width: 768px) {
    .checksearch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }